//Navigation Bar

nav a {
   text-decoration: none; 
}

nav ul {
   
    text-align: center;  
}

nav li {  
    display: inline-block;
font-weight:bold;
list-style: none;
padding-inline: 10px 10px;
}


#pokeballLogo {
max-width: 110px;
}


