//Navigation Bar

 a {
   text-decoration: none; 
}

.Nav .navbar-container {
display:flex;
justify-content: center;
flex-wrap: nowrap;

}

.nav-item {  
text-align: center;  
font-weight:bold;
list-style: none;
padding: 20px 20px;

}

#pokeballLogo {
max-width: 170px;
margin-left: 600px;
}


